{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Solidariedade do Campo - Juntos, alimentamos esperança." />
    <meta name="keywords" content="solidariedade, campo, doações, alimentos, ONGs" />
    <meta name="author" content="Seu Nome" />
    <title>Solidariedade do Campo | Conectando Empresas Alimentícias com ONGs</title>
    <link rel="icon" type="image/x-icon" href="{% static 'css/assets/favicon.ico' %}" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body id="page-top">

    {% if user.is_authenticated %}
        {% include 'Menu/menuComLogin.html' %}
    {% else %}
        {% include 'Menu/menuSemLogin.html' %}
    {% endif %}    

    <!-- Masthead -->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Solidariedade do Campo</div>
            <div class="masthead-heading text-uppercase">Juntos, alimentamos esperança</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Saiba Mais</a>
        </div>
    </header>

<!-- Como Funciona -->
<section class="page-section" id="como-funciona">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Como Funciona</h2>
            <h3 class="section-subheading text-muted">Acompanhe o passo a passo para começar a doar ou receber alimentos.</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-it-works-item">
                    <h4 class="my-3">1. Cadastro</h4>
                    <p class="text-muted">Cadastre sua empresa ou ONG na plataforma, fornecendo as informações necessárias para realizar ou receber doações.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-it-works-item">
                    <h4 class="my-3">2. Realize a Doação</h4>
                    <p class="text-muted">Escolha a ONG para a qual você deseja doar alimentos, registre a doação e forneça as informações fiscais para o abatimento.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-it-works-item">
                    <h4 class="my-3">3. Receba seu Abatimento</h4>
                    <p class="text-muted">Após a doação, utilize o comprovante gerado para solicitar o abatimento fiscal no Imposto de Renda da sua empresa.</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Serviços -->
    <section class="page-section bg-light" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Serviços</h2>
                <h3 class="section-subheading text-muted">Conectamos empresas alimentícias com ONGs para levar alimentos a quem mais precisa.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <img src="{% static 'css/assets/img/doadores.jpg' %}" width="110" height="110" class="fa-stack-1x fa-inverse custom-img" alt="Doadores" style="border-radius: 50%; object-fit: cover;">
                    </span>
                    <h4 class="my-3">Doadores</h4>
                    <p class="text-muted">Empresas alimentícias que oferecem doações para ONGs, garantindo que alimentos cheguem a quem mais precisa.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <img src="{% static 'css/assets/img/industria.jpg' %}" width="110" height="110" class="fa-stack-1x fa-inverse custom-img" alt="Indústrias" style="border-radius: 50%; object-fit: cover;">
                    </span>
                    <h4 class="my-3">Indústrias</h4>
                    <p class="text-muted">Apoiam a distribuição de alimentos através de doações, ajudando no combate à fome e na promoção da solidariedade.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <img src="{% static 'css/assets/img/recebedores.jpg' %}" width="110" height="110" class="fa-stack-1x fa-inverse custom-img" alt="Recebedores" style="border-radius: 50%; object-fit: cover;">
                    </span>
                    <h4 class="my-3">Recebedores</h4>
                    <p class="text-muted">ONGs e instituições que recebem alimentos para distribuir entre as pessoas em situação de vulnerabilidade social.</p>
                </div>
            </div>
        </div>
    </section>

<!-- About Section-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre</h2>
            <h3 class="section-subheading text-muted">A história e os valores que nos motivam a fazer a diferença no mundo.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'css/assets/img/1.jpg' %}" alt="Fundadores" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2017-2022</h4>
                        <h4 class="subheading">Nossos Fundadores</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Desde 2017, nossa missão tem sido unir empresas e ONGs para combater a fome e a insegurança alimentar em várias regiões do país.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'css/assets/img/2.jpg' %}" alt="Crescimento" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022-Atualidade</h4>
                        <h4 class="subheading">Nosso Crescimento</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Estamos expandindo nossa rede de parcerias, alcançando mais comunidades e impactando ainda mais vidas com alimentos essenciais.</p></div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Trabalhos Realizados Section -->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Trabalhos Realizados</h2>
            <h3 class="section-subheading text-muted">Ações que impactaram milhares de vidas com o auxílio de nossas parcerias.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'css/assets/img/trabalhos1.jpg' %}" alt="Doação de Alimentos 1" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Doação de Alimentos</div>
                        <div class="portfolio-caption-subheading text-muted">Evento de arrecadação em 2023</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'css/assets/img/trabalhos2.jpg' %}" alt="Doação de Alimentos 2" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Campanha de Arrecadação</div>
                        <div class="portfolio-caption-subheading text-muted">Parceiros Unidos Contra a Fome</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'css/assets/img/trabalhos3.jpg' %}" alt="Doação de Alimentos 3" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Distribuição de Cestas Básicas</div>
                        <div class="portfolio-caption-subheading text-muted">Ações comunitárias realizadas em 2023</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'css/assets/img/trabalhos4.jpeg' %}" alt="Doação de Alimentos 2" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Campanha de Arrecadação</div>
                        <div class="portfolio-caption-subheading text-muted">Parceiros Unidos Contra a Fome</div>
                    </div>
                </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'css/assets/img/trabalhos5.jpg' %}" alt="Doação de Alimentos 2" />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Campanha de Arrecadação</div>
                    <div class="portfolio-caption-subheading text-muted">Parceiros Unidos Contra a Fome</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'css/assets/img/trabalhos6.jpeg' %}" alt="Doação de Alimentos 2" />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Campanha de Arrecadação</div>
                    <div class="portfolio-caption-subheading text-muted">Parceiros Unidos Contra a Fome</div>
                </div>
            </div>
         </div>
    </div>
</section>


    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright © Solidariedade do Campo 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none" href="#!">Privacy Policy</a>
                    <span class="text-muted">·</span>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-lg-center">
                    <p>Entre em contato: <a href="mailto:contato@solidariedadedocampo.com">contato@solidariedadedocampo.com</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'script/Password.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            campo = document.getElementById('senha')
            const password = new Password(campo)
            document.getElementById('img_olho').addEventListener('click', () => {
                password.MostraSenha()
            })
        })
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
