{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Cadastro de Endereço da ONG</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body id="page-top">

    <script src="{% static 'script/Password.js' %}"></script>

    {% if logout %}
        {% include 'Menu/menuCLoginBasic.html' %}
    {% else %}
        {% include 'Menu/menuSLoginBasic.html' %}
    {% endif %}  

    <section class="page-section d-flex justify-content-center align-items-center" id="cadastro-endereco">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="section-heading text-uppercase">Cadastro de Endereço da ONG</h2>
                <h3 class="section-subheading">Informe os dados de endereço da sua ONG</h3>
            </div>
            
            <form action="{% url 'ongpostcad' %}" method="post">
                {% csrf_token %}
                
                <div class="row justify-content-center2 mb-3">
                    <div class="col-md-3">
                        <label for="id_cep">CEP:</label>
                        <label id="cep_invalido" style="visibility: hidden;" class="text-danger ms-2">CEP inválido</label>
                        {{ form.cep }}
                        {% if form.cep.errors %}
                            {% for error in form.cep.errors %}
                                <label>{{ error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        <label for="id_estado">Estado:</label>
                        {{ form.estado }}
                    </div>
                </div>

                <div class="row justify-content-center2 mb-3">
                    <div class="col-md-3">
                        <label for="id_cidade">Cidade:</label>
                        {{ form.cidade }}
                    </div>

                    <div class="col-md-3">
                        <label for="id_bairro">Bairro:</label>
                        {{ form.bairro }}
                    </div>
                </div>

                <div class="row justify-content-center2 mb-3">
                    <div class="col-md-3">
                        <label for="id_rua">Rua:</label>
                        {{ form.rua }}
                    </div>

                    <div class="col-md-3">
                        <label for="id_numero">Número:</label>
                        {{ form.numero }}
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <label for="id_complemento">Complemento:</label>
                        {{ form.complemento }}
                    </div>
                </div>

                <input type="hidden" name="etapa2" value="2">

                <div class="text-center mt-4">
                    <input type="submit" class="btn btn-primary btn-xl text-uppercase text-black" value="Próximo">
                </div>
            </form>
        </div>
    </section>

    <script>
        const cep = document.getElementById('id_cep')
        const estado = document.getElementById('id_estado')
        const cidade = document.getElementById('id_cidade')
        const bairro = document.getElementById('id_bairro')
        const rua = document.getElementById('id_rua')

        cep.addEventListener('blur', () => {
            const cep_value = cep.value.replace(/\D/g, '');
            new Cep(cep_value);
        })
    </script>
    <script src="{% static 'script/cep.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>
