{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de pessoa</title>
</head>
<body>
    <form id="form_pessoa" action="{% url 'pessoa' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="id_nome_pessoa">Nome completo: </label>
            {{ form.nome_pessoa }}
            {% for i in erro %}
                {% if i.nome_erro %}
                    <label>{{ i.nome_erro }}</label>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="id_cpf_pessoa">CPF: </label>
            {{ form.cpf_pessoa }}
            {% for i in erro %}
                {% if i.cpf_erro %}
                    <label>{{ i.cpf_erro }}</label>
                {% elif i.cpf_existe %}
                    <label>{{ i.cpf_existe }}</label>
                {% endif %}                
            {% endfor %}
        </p>
        <p>
            <label for="id_email_login_pessoa">Email: </label>
            {{ form.email_login_pessoa }}
            {% for i in erro %}
                {% if i.email_erro %}
                    <label>{{ i.email_erro }}</label>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="id_senha_login_pessoa">Senha: </label>
            {{ form.senha_login_pessoa }}
            <label id="img_olho" class="img_olho">&#128065;</label>
            {% for i in erro %}
                {% if i.senha_erro %}
                    <label>{{ i.senha_erro }}</label>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="id_data_nascimento_pessoa">Data de nascimento: </label>
            {{ form.data_nascimento_pessoa }}
            {% for i in erro %}
                {% if i.data_nascimento_erro %}
                    <label>{{ i.data_nascimento_erro }}</label>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            <label for="id_telefone_pessoa">Telefone: </label>
            {{ form.telefone_pessoa }}
            {% for i in erro %}
                {% if i.telefone_erro %}
                    <label>{{ i.telefone_erro }}</label>
                {% endif %}
            {% endfor %}
        </p>
        <input type="submit" value="Enviar">
    </form>
    <script src="{% static 'script/Input.js' %}"></script>
</body>
</html>
