{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de pessoa</title>
</head>
<body>
    <form id="form_pessoa">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar">
        <script>
            const url_get = "{% url 'pessoagetlogin' %}"
            const url_post = "{% url 'pessoa' %}"
        </script>
        <script src="{% static 'script/FormPessoa.js' %}" type="module"></script>
    </form>
</body>
</html>
