{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de empresa</title>
</head>
<body>
    <form id="form_tres">
        {% csrf_token %}
        <p>
            <label for="id_nome_representante_empresa">Nome do representante legal da empresa: </label>
            {{ form.nome_representante_empresa }}
        </p>
        <p>
            <label for="id_cpf_representante_empresa">CPF do representante legal da empresa: </label>
            {{ form.cpf_representante_empresa }}
        </p>
        <p>
            <label for="id_telefone_representante_empresa">Telefone do representante legal da empresa: </label>
            {{ form.telefone_representante_empresa }}
        </p>
        <p>
            <label for="id_email_representante_empresa">Email do representante legal da empresa: </label>
            {{ form.email_representante_empresa }}
        </p>
        <input type="submit" value="Próximo">
        <script>
            const url_empresa_post = "{% url 'empresapostcad' %}"
            const url_empresa_get = "{% url 'empresagetlogin' %}"
        </script>
        <script src="{% static 'script/FormEmpresaTres.js' %}" type="module"></script>
    </form>
</body>
</html>