{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de empresa</title>
</head>
<body>
    <form action="{% url 'empresapostcad' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="id_nome_empresa">Nome da empresa: </label>
            {{ form.nome_empresa }}
        </p>
        <p>
            <label for="id_cnpj_empresa">CNPJ da empresa: </label>
            {{ form.cnpj_empresa }}
        </p>
        <p>
            <label for="id_tipo_empresa">Tipo de empresa: </label>
            {{ form.tipo_empresa }}
        </p>
        <p>
            <label for="id_email_login_empresa">Email para login da empresa: </label>
            {{ form.email_login_empresa }}
        </p>
        <p>
            <label for="id_senha_login_empresa">Senha para login da empresa: </label>
            {{ form.senha_login_empresa }}
        </p>
        <p>
            <input type="hidden" name="etapa1" value="etapa1">
        </p>
        <input type="submit" value="Próximo">
    </form>
</body>
</html>
