{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação - Empresa</title>
</head>
<body>
    <form method="post" action="{% url 'empresa_doacao' %}">
        {% csrf_token %}
        <p>
            <label for="id_nome_produto">Nome do produto</label>
            {{ form.nome_produto }}
        </p>
        <p>
            <label for="id_descricao_produto">Descrição do produto</label>
            {{ form.descricao_produto }}
        </p>
        <p>
            <label for="id_quantidade_produto">Quantidade do produto</label>
            {{ form.quantidade_produto }}
            {% for i in erro %}
                {% if i.quantidade_produto_erro %}
                    <label>{{ i.quantidade_produto_erro }}</label>
                {% endif %}
                {% if i.unidade_decimal_erro %}
                    <label>{{ i.unidade_decimal_erro }}</label>
                {% endif %}    
            {% endfor %}

        </p>
        <p>
            <label for="id_unidade_medida_produto">Unidade de medida do produto</label>
            {{ form.unidade_medida_produto }}
        </p>
        <p>
            <label for="id_categoria_produto">Categoria do produto</label>
            {{ form.categoria_produto }}
        </p>
        <p>
            <input type="submit" value="Enviar">
        </p>
    </form>
</body>
</html>