{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Doação de Produtos</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body id="page-top">

    <script src="{% static 'script/Password.js' %}"></script>

    {% include 'Menu/menuCLoginBasic.html' %}

    <section class="page-section d-flex justify-content-center align-items-center" id="doacao">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="section-heading text-uppercase">Doação de Produtos</h2>
                <h3 class="section-subheading text-muted">Preencha os dados abaixo para realizar sua doação</h3>
            </div>
            <form id="doacao_form" method="post" action="{% url 'empresa_doacao' %}" onsubmit="return envia_formulario(event);">
                {% csrf_token %}

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-between">
                            <label for="id_nome_produto">Nome do produto:</label>
                        </div>
                        {{ form.nome_produto }}
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-between">
                            <label for="id_descricao_produto">Descrição do produto:</label>
                        </div>
                        {{ form.descricao_produto }}
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-between">
                            <label for="id_quantidade_produto">Quantidade do produto:</label>
                            <div class="text-danger ms-2">
                                {% if form.quantidade_produto.errors %}
                                    {% for error in form.quantidade_produto.errors %}
                                        <label for="">{{ error }}</label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ form.quantidade_produto }}
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <label for="id_unidade_medida_produto">Unidade de medida do produto:</label>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <label for="">{{ error }}</label>
                            {% endfor %}
                        {% endif %}
                        {{ form.unidade_medida_produto }}
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-md-6">
                        <label for="id_categoria_produto">Categoria do produto:</label>
                        {{ form.categoria_produto }}
                    </div>
                </div>

                <div class="text-center mt-4">
                    <input type="submit" class="btn btn-primary btn-xl text-uppercase text-black" value="Enviar">
                </div>
            </form>
        </div>
    </section>

    <script>
        async function envia_formulario(event) {
            event.preventDefault();
            let condicional = false;
            const form = document.getElementById('doacao_form');
            const url = form.action;
            const form_data = new FormData(form); 
            const response = await fetch(url, {
                method: 'POST',
                body: form_data
            });
            let data;
            if (response.ok) {
                data = await response.blob();
            } else {
                data = await response.text();
            }
            if (data instanceof Blob) {
                const pdf = URL.createObjectURL(data);
                window.open(pdf, '_blank');
                window.location.href = "{% url 'home' %}";
            } else {
                condicional = true;
            }
            if (condicional) {
                form.submit();
            }
        }
    </script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
